<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="hobby.css"/>
</head>
<body>
<div class="header">
        <div class="inner-header">
            <div class="logo-container">
                <h1>Обратная связь</h1>
            </div>

            <ul class="navigation">
                <a href="my_hobby.html"><li>Главная</li></a>
                <a href="about.html"><li>Обо мне</li></a>
                <a href="contacts.html"><li>Обратная связь</li></a>
            </ul>
        </div>
</div>
<div class="content">
    <div class="head-text">
        <p style ="font-family: mistral, cursive; font-size: 60px;"> Мои контакты </p>
    </div>

    <hr class="hr-line">
    <ul class=contacts>
                <a href="https://vk.com/id729243490"><li title = "https://vk.com/id729243490">Вконтакте</li></a>
                <li>Telegram, WhatsApp : 89372944563</li>
                <li>Email : ear231@mail.ru </li>
    </ul>
</div>
</div>
</body>
</html>