<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My hobby</title>
    <link rel="stylesheet" href="hobby.css"/>
</head>
<body>
<div class="header">
        <div class="inner-header">
            <div class="logo-container">
                <h1>Моё хобби</h1>
            </div>

            <ul class="navigation">
                <a href="my_hobby.html"><li>Главная</li></a>
                <a href="about.html"><li>Обо мне</li></a>
                <a href="contacts.html"><li>Обратная связь</li></a>
            </ul>
        </div>
</div>
<div class="content">
    <div class="head-text">
        <p>КВИЗЫ</p>
    </div>
    <hr class="hr-line">
    <ul class="image-content">
         <div class="photo">
             <img src="clever1.jpg" alt="здесь должно быть фото" width="320" height="280" border="5px solid black">
         </div>
         <div class="photo">
             <img src="c.jpg" alt="здесь должно быть фото" width="320" height="280" border="5px solid black">
         </div>
         <div class="photo">
             <img src="clever.jpg" alt="здесь должно быть фото" width="320" height="280" border="5px solid black">
         </div>
         <div class="photo">
             <img src="clever2.jpg" alt="здесь должно быть фото" width="320" height="280" border="5px solid black">
         </div>
    </ul>

    <div class="text_me">
        <p> <h3> Квиз – это командное соревнование на логику, сообразительность и смекалку, которое проходит в баре или ресторане. Больше всего квиз похож на такие известные передачи, как «Что? Где? Когда?» или «Брейн-ринг». Главным отличием является то, что для участия в квизе не нужна дополнительная подготовка, игры проходят в барах, где участники могут не только развлечься, но и вкусно поесть, выпить кружечку пива или бокал вина в компании друзей. Во время игры звучит зажигательная музыка, а ведущий никому не дает скучать.
        Каждый организатор придумывает свой необычный формат заданий, вопросы преподносятся в интересном и понятном каждому виде. Задания могут быть музыкальными, в картинках или даже видео.
Классический квиз включает семь раундов по семь вопросов. В каждом раунде все вопросы посвящены определенной теме. Часто проводятся тематические игры, например, «Игра престолов», где фанаты могут погрузиться в атмосферу королевств и отвечать на вопросы про любимых персонажей или «Шерлок Холмс», где игроки становятся сыщиками, применяют методы дедукции и отвечают на логические вопросы.
            </h3>
        </p>
        <p><h3>Первый раз меня пригласила моя супруга на замену выбывшего игрока. Мне очень понравилась атмосфера игры. Были интересные вопросы. Самое приятное, когда отвечаешь на вопрос, на который вообще никто не смог ответить.
           </h3>
        </p>
        <p><h3>На данный момент самое большое достижение в квизах - второе место на городском турнире.
           </h3>
        </p>

    </div>
</div>
</body>
</html>